:root {
  --light-gray: #cacaca;
}

@font-face {
  font-family: 'got';
  src: url('got.ttf') format('truetype');
}
.got-font {
  font-family: 'got', sans-serif;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sidebar-content {
  height: 100%;
  overflow-y: auto;  /* Allow scrolling if content is too large */
  background-color: #f6f6f6; /* Optional: Customize the background color */
}

body {
  height: 100vh;
}

.full-size-card {
  height: calc(100vh - 90px);
  display: flex;
}
