/* Content container will grow to fill the available space */
.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.map-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
}

#map-container {
  position: relative;
  display: flex;
  flex-shrink: 0; /* Prevents shrinking */
  align-items: flex-start; /* Align items at the top */
  flex: 1;
  overflow: auto; /* Allows scrolling */
}

#map-img {
  display: block;
  width: auto;
  height: auto;
  pointer-events: none;
}

/* SVG canvas overlays the image */
#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

/* Adjust image size based on fit mode */
.fit-width #map-container {
  width: 100%;
  height: auto;
}
.fit-height #map-container {
  width: auto;
  height: 100%;
}
.fit-width #map-img {
  width: 100%;
  height: auto;
}
.fit-height #map-img {
  width: auto;
  height: 100%;
}

/* Ensure the SVG canvas matches the image size */
#map-container #map-canvas {
  width: 100%;
  height: 100%;
}

.fit-toggle-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 20; /* Higher than map-canvas z-index */
  background-color: white;
  border: none;
  padding: 0;
  cursor: pointer;
}
.fit-toggle-button:hover {
  background-color: var(--light-gray);
}

.bslib-sidebar-layout > .main {
  padding: 0px;
}
.bslib-mb-spacing {
  margin-bottom: 0px;
}