:root {
  --selection-1: #bbdefb;
  --selection-2: #64b5f6;
  --selection-3: #2196f3;
  --border-color: #2b2b2b;
}

@font-face {
  font-family: 'got';
  src: url('got.ttf') format('truetype');
}
.got-font {
  font-family: 'got', sans-serif;
}

/* Overlay a canvas over the map image. Both comopnents are children of the container */
#map-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
#map-img {
  width: 100%; /* Image is as wide as the container */
  height: auto; /* Preserve aspect ratio */
}
#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* SVG is as wide as the container */
  height: 100%;
  pointer-events: none; /* Prevent interference with clicks */
  z-index: 10; /* Ensure canvas is on top of image */
}
