:root {
  --light-gray: #cacaca;
}

@font-face {
  font-family: 'got';
  src: url('got.ttf') format('truetype');
}
.got-font {
  font-family: 'got', sans-serif;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
