/* Content container will grow to fill the available space */
.content-container {
  height: calc(100vh - var(--header-height) - var(--navbar-height));
  width: 100%;
  display: flex;
  overflow: hidden;
}

.map-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#map-container {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: flex-start;
  flex: 1;
  overflow: auto; /* Allow scrolling in the container */
}

#map-img {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 1;
}

/* SVG canvas overlays the image */
#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}

/* Ensure the SVG canvas matches the image size */
#map-container #map-canvas {
  width: 100%;
  height: 100%;
}

.map-settings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: white;
  left: 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  z-index: 3;
}
.map-settings-button:hover {
  background-color: var(--gray);
}
.fit-toggle-button {
  top: 20px;
}
.zoom-in-button {
  top: 45px;
}
.zoom-out-button {
  top: 70px;
}

#legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 2px solid black;
  border-radius: 8px;
  background-color: var(--light-gray);
  top: 30px;
  right: 30px;
  width: 250px;
  height: 90px;
  padding: 0;
  z-index: 3;
}

#legend p {
  margin: 0;
  text-align: center;
}

/* Remove any default padding or margin to display the main content as large as possible */
.bslib-sidebar-layout > .main {
  padding: 0px;
}
.bslib-mb-spacing {
  margin-bottom: 0px;
}
